#
# Copyright (C) 2015 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



menu "Build system"
	comment "Target toolchain"
	config TOOLCHAIN_PREFIX
		string "Toolchain prefix"

	config CC
		string CC
		default "$(CONFIG_TOOLCHAIN_PREFIX)gcc"

	config CXX
		string CXX
		default "$(CONFIG_TOOLCHAIN_PREFIX)g++"

	config AS
		string AS
		default "$(CONFIG_TOOLCHAIN_PREFIX)as"

	config AR
		string AR
		default "$(CONFIG_TOOLCHAIN_PREFIX)ar"

	config LD
		string LD
		default "$(CONFIG_TOOLCHAIN_PREFIX)ld"

	comment "Target flags"
	config CFLAGS
		string CFLAGS

	config CXXFLAGS
		string CXXFLAGS

	config CPPFLAGS
		string CPPFLAGS

	config ASFLAGS
		string ASFLAGS

	config LDFLAGS
		string LDFLAGS

	config LDLIBS
		string LDLIBS

	config ARCHFLAGS
		string ARCHFLAGS

	comment "Host toolchain"
	config HOSTCC
		string HOSTCC
		default "gcc"

	config HOSTCXX
		string HOSTCXX
		default "g++"

	config HOSTAS
		string HOSTAS
		default "as"

	config HOSTAR
		string HOSTAR
		default "ar"

	config HOSTLD
		string HOSTLD
		default "ld"

	comment "Host flags"
	config HOSTCFLAGS
		string HOSTCFLAGS

	config HOSTCXXFLAGS
		string HOSTCXXFLAGS

	config HOSTCPPFLAGS
		string HOSTCPPFLAGS

	config HOSTASFLAGS
		string HOSTASFLAGS

	config HOSTLDFLAGS
		string HOSTLDFLAGS

	config HOSTLDLIBS
		string HOSTLDRFLAGS

	config HOSTARCHFLAGS
		string HOSTARCHFLAGS

	choice
		prompt "Build type"
	
		config BUILD_RELEASE
			bool "release"
	
		config BUILD_DEBUG
			bool "debug"
	endchoice

	menu "Hidden"
		visible if 0
	
		config BUILD_TYPE
			string "Build type"
			default "debug" if BUILD_DEBUG
			default "release" if BUILD_RELEASE
	endmenu

	comment "Build information"
	config BUILD_TREE
		string "build tree"
		default "build/$(CONFIG_BUILD_TYPE)/"
endmenu
